@font-face {
    font-family: "Raleways";
    src: url("static/Raleway-Regular.ttf");
}
html{
    width: 100vw;
    height: 100vh;
}
body {
    font-family: "Raleways";
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
}

#main {
    width: 93.36%;
    height: 100%;
    align-items: center;
    margin: auto;
    font-size: 1.5em;
}

/*HEADER*/


header {
    display: flex;
    flex-direction: column;

}

#firstRow {
    display: flex;
    justify-content: space-between;
}

#firstRow #logo {
    margin: .5em;
    width: 200px;
    min-height: 3em;
    background-color: transparent;
    background-image: url(images/logo/Reservia.jpg);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#links-container {
    width: 450px;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: black;
}
#links-container nav a{
    display:flex;
    flex-flow: row nowrap;
    padding: 1.4em 1em;
    border-top:3px solid transparent;
}
#links-container nav a:focus{
    border-top:3px solid blue;
    color: blue;
}
.link-inscrire{
    padding: 1.4em 1em;
    color: blue;
}
nav{
    display: flex;
    flex-flow: row nowrap;
}
a{
    text-decoration: none;
}
nav a{
    justify-content: space-around;
}


#secondRow {
    display: none;
    text-decoration: none;
    justify-content: space-around;
}

/*SEARCH*/


#search {
    padding: 0 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-self: flex-start;
    
}

#locationSearch {
    width: 600px;
    height: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
}

#locationSearch i {
    padding: .2em .5em;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color:  #F2F2F2;
}


#locationSearch #address {
    flex: 1;
    padding-left: 1em;
    font-size: 1em;
}

#locationSearch input {
    border: none;
    outline: none;
}


#locationSearch input[type="submit"] {
    padding: 0em .5em;
    border-radius: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    width: 200px;
    font-size: 1em;
}

/*FILTRES*/

#filtreBoite {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

#filtreBoite > div {
    display: flex;
    flex-flow: row wrap;
}

#filtreBoite div:first-child {
    padding: .5em 1em .5em .5em;
}


#filtreBoite .filter {
    height: 2em;
    position: relative;
    margin: 0.5em;

    display: flex;
    flex-flow: row;
    align-items: center;

    border: 1px solid grey;
    border-left: 1px solid #deebff;
    border-radius: 30px;
    text-decoration: none;

    transition: 200ms ease;
}

#filtreBoite .filter:hover {
    background-color: #deebff;
    border-color: #deebff;
}

#filtreBoite .filter span {
    color: #000;
    margin-left: 1.5em;
    padding: 0 1em;
    transition: 200ms ease;
}

#filtreBoite .filter:hover span {
    color: #0065FC;
}



#filtreBoite .filter::before {
    left: -2px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    background: #deebff;
    border-radius: 50%;
    border: 1px solid #deebff;
    color: #0065FC;
}

/*INFO*/

#info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#info i{
    font-size: 0.8em;
    display: flex;
    width: .5em;
    height: .5em;
    color: #0065FC;
    border: 1px solid grey;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: .4em;
    
}
#info p{
    padding-left: 1em;
}



/*DOUBLE BOX*/

#doublebox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 2em;
}

#box1{
    display: flex;
    flex-flow: column nowrap;
    flex: 2;
    border: #F2F2F2;
    border-radius: 30px;
    background-color: #F2F2F2;
    margin-right: 2em;
    padding: .5em 1em;
}
#boitePhoto{
    display: flex;
    flex-flow: row wrap;
}
.photo{
    display: flex;
    flex-flow: column nowrap;
    border: 4px solid white;
    border-radius: 30px;
    width: 248px;
    height: 200px;
}
.photo img{
    width: 248px;
    height: 200px;
    border-radius: 30px;
    position: relative
}

.photo .img .banniere {
    bottom: 0;
    padding:1em;
    background-color: white;
    position: absolute;
}
#box2{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    border: #F2F2F2;
    border-radius: 30px;
    background-color: #F2F2F2;
    padding: .5em 1em;
}


/*--------------------------------
|        MEDIA QUERIES            |
--------------------------------*/

@media only screen and (max-device-width : 1024px) , screen and (max-width: 1024px) {
  #links-container {
      width: auto;
  }

  #links-container nav a{
      display: none;
  } 

  #secondRow {
      display: flex;
  }
  #secondRow a{
      display:flex;
      flex-flow: row nowrap;
      padding: 1em 6em;
  }
  #secondRow a:focus{
      border-bottom:3px solid blue;
      color: blue;
  }

