@font-face {
    font-family: "Raleways";
    src: url("police/Raleway-Regular.ttf");
    
}
@font-face {
    font-family: "Raleways-bold";
    src: url("police/Raleway-Bold.ttf");
    
}
@font-face {
    font-family: "Raleways-extra-bold";
    src: url("police/Raleway-ExtraBold.ttf");
    
}

body {
    font-family: "Raleways";
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
}

#main {
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 2114px;
}
.title2 {
    font-family: "Raleways-extra-bold";
    font-weight: 100;
    font-size: 30px;
}
.title3 {
    font-family: "Raleways-bold";
    font-weight: 100;
    font-size: 22px ;
    
}
p {
    font-size: 22px;
    font-weight: 500;
}

section {
    padding: 0 3em;
}

/*HEADER*/


header {  
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    
}
#firstRow {
    display:grid;   
    grid-template-columns: 12% 1fr 13% 11% 9.5%;
    grid-template-rows: 140px;
    font-size:21px;
    font-family: "Raleways";
    font-weight: 600;    
}

a {
    text-decoration: none;
}

#logo {
    margin: .5em 0;
    width: 126px;
    min-height: 24px;
    background-color: transparent;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#link-hebergements {
    display: flex;
    align-items: center;
    grid-column: 3;  
    justify-content: center;
    border-top: 3px solid transparent;
    color: black
}

#link-activites {
    grid-column: 4;
    align-items: center;
    border-top: 3px solid transparent;
    display: flex;
    justify-content: center;
    color: black
}

#link-inscrire {
    grid-column: 5;
    padding: auto;
    border-top: 3px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #0065FC;
}

#link-hebergements:hover {
    border-top:3px solid #0065FC;
    color: #0065FC;
}

#link-hebergements:focus {
    border-top:3px solid #0065FC;
    color: #0065FC;
}

#link-activites:hover {
    border-top:3px solid #0065FC;
    color: #0065FC;
}

#link-activites:focus {
    border-top:3px solid #0065FC;
    color: #0065FC;
}

/*SEARCH*/

#tagline h2 {
    margin: 15px 0 8px 0;
}

#tagline p {
    margin: 0 0 32px 0;
}

#locationSearch {
    width: 590px;
    height: 65px;
    display: flex;
    flex-flow: row nowrap; 
}

#locationSearch i {
    display: flex;
    padding: 1.2em 1em;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    background-color:  #F2F2F2;
    align-items: center;
    font-size: 22px;
}

#locationSearch #address {
    flex: 1;
    position: relative;
    padding-left: 1em;
    font-size: 22px;
    font-family: "Raleways-bold";
    font-weight: 100;
    border-top: 2px solid #F2F2F2; 
    border-bottom:  2px solid #F2F2F2;
}

#locationSearch input {
    border: none;
    outline: none;
}

#locationSearch button {
    border: none;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    background-color: #0065FC;
    color: white;
    width: 195px;
    font-size: 22px;
    font-family: "Raleways-bold";
    font-weight: 100;
}

#locationSearch button .icon {
    display: none;
}

/*FILTRES*/

#filtreBox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 3em 0 2em 0;
}
#filtreBox h3 {
    margin:0 25px 0 12px;
}

#filtreBox > div {
    display: flex;
    flex-flow: row wrap;
    margin-right: 20px;
}

#filtreBox .filter {
    height: 60px;
    position: relative;
    margin: 0 1.2em 0 1.2em;
    display: flex;
    flex-flow: row;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 100px;
    text-decoration: none;
    transition: 100ms ease;
}

#filtreBox .filter:hover {
    background-color: #0065FC;
    border-color: #0065FC;
}

#filtreBox .filter:focus {
    background-color: #0065FC;
    border-color: #0065FC;
}

#filtreBox .filter span {
    color: #000;
    margin-left: 2.1em;
    padding: 0 1.1em;
    transition: 200ms ease;
    font-size: 24px;
    font-family: "Raleways-bold";
    font-weight: 100;
}

#filtreBox .filter:hover span {
    color: #F2F2F2;
}

#filtreBox .filter:focus span {
    color: #F2F2F2;
}

#filtreBox .filter::before {
    left: -6px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7em;
    width: 2.7em;
    background: #deebff;
    border-radius: 50%;
    border: 1px solid #deebff;
    color: #0065FC;
    font-size: 24px;
}

/*INFO*/

#info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 3.5em 0;
}

#info i {
    font-size: 16px;
    display: flex;
    width: .5em;
    height: .5em;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: .7em;
    
}

#info p {
    padding-left: .8em;
    margin: 0;
}

/*DOUBLE BOX*/

#doubleBox {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 16px;
    margin-bottom: 65px;
}

#box1 {
    display: flex;
    flex-direction: column;
    flex: 2.3;
    margin-right: 50px;
    border-radius: 40px;
    background-color: #F2F2F2;
    padding: 42px 42px 0px 42px;
}

#box1 .title2 {
    margin: 20px 0 40px 0;
}

#heberBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.heberTile {
    padding: 6px;
    background-color: white;
    width: 330px;
    height: 252px;
    color: black;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 40px;
    box-shadow:1px 1px 20px  #dadada ;  
}

.heberPicture {
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    width:100%;
    height: 155px;
}

.heberPicture img {
    display: none;
}

.heberTile .legende {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 4px;
}

.heberTile h3 {
    margin: 7px 14px;
}

.heberTile p {
    margin: 7px 14px;
}

.legende span {
    font-weight: bold;
}

.heberTile .note {
    font-size: 14px;
    margin: 2px 14px;
    color: #0065FC;
}

.heberTile .note .grey {
    color: #b3b3b3;
}

#seeMore {
    font-family: "Raleways-extra-Bold";
    font-weight: 100;
    font-size: 22px;
    color: #000;
}

/*---------*/

#box2 {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 40px;
    padding: 42px 42px 0px 42px;
}

#titleLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 40px 0;
}

#titleLine .title2 {
    margin: 0;
}

#titleLine .fas {
    font-size: 28px;
}

#popBox {
    display: flex;
    flex-flow: column nowrap;
}

.popTile {
    display: flex;
    padding: 6px;
    background-color: white;
    height: 175px;
    box-shadow:1px 1px 20px  #dadada ;
    border-radius: 30px;
    color: #000;
    margin-bottom: 45px;
}

.popPicture { 
    background-position: center ; 
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 42%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
}

.popPicture img {
    display: none;
}

.popTile .legende {
    display: flex;
    flex-flow: column nowrap;
    width: 58%;
    padding: 4px 17px 0px 30px;
}

.legende .text {
    flex: 1;
}

.popTile h3 {
    margin: 11px 0;
}

.popTile p {
    
    margin: 11px 0;
}

.popTile span {
    font-weight: bold;
}

.popTile .note {
    font-size:14px;
    height: 1.9em;
    color: #0065FC;
}

.popTile .note .grey {
    color: #b3b3b3;
}

/*GRID*/

#activites {
    margin-bottom: 40px;
}

#box3 {   
    display:grid;
    height: auto;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(14, 49px);
    grid-column-gap: 52px;
}

.activityTile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
    color: #000;
    box-shadow: 0px 0px 30px #dadada
}

.activityPicture {
    flex: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activityTile .title3 {
    padding: 0 0 0 20px;
    min-height: 80px;
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.one {
    grid-column: 1;
    grid-row: 1 / 14; 
}

.two {
    grid-column: 2;
    grid-row: 1 / 8;     
}

.three {
    grid-column: 2;
    grid-row: 9 / 14; 
}

.four {
    grid-column: 3;
    grid-row: 1 / 14; 
}

.five {
    grid-column: 4;
    grid-row: 1 / 7;
} 

.six {
    grid-column: 4;
    grid-row: 8 / 14; 
}

.activityPicture img {
    display: none;
}

/*FOOTER*/


footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 0 3em 50px 3em;
}

footer div {
    box-sizing: border-box;
}

footer h3 {
    margin:0;
    padding-top: 50px;
    padding-bottom: 30px
}

footer a{
    color: black;
    padding: 6px 0;
}

#about {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding-left: 25px;
}

#ourH {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding-left: 25px;
}

#assist {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    padding-left: 25px;
}

/*--------------------------------
|        MEDIA QUERIES           |
--------------------------------*/
@media only screen and (max-width : 1804px) and (min-width : 1356px) {
    
    #filtreBox h3 {
        margin: 0 25px 12px 12px;
    }

    #filtreBox .filter {
        margin: 0 1.2em 1.2em 1.2em;
    }
    #box1 {
        flex: 2
    }
    #heberBox {
        justify-content: space-around;
    }

    .popTile {
        height:220px
    }
    .popPicture {
        width: 55%
    } 
    
    .popTile .legende {
        width: 45%
    }

    #seeMore {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width : 1356px){

    #filtreBox h3 {
        margin: 0 25px 12px 12px;
    }

    #filtreBox .filter {
        margin: 0 1.2em 1.2em 1.2em;
    }
    #box1 {
        flex: 1.5;
    }
    #heberBox {
        justify-content: space-around;
    }

    .heberTile {
        width: 400px;
   }

    #seeMore {
        margin-bottom: 30px;
    }
    
    #popBox {
        width: auto;
    }

    .popTile {
       height: 220px
    }

    .popPicture {
        width: 55%
    } 
    
    .popTile .legende {
        width: 45%
    }

    .popTile {
        justify-content: space-around;
    }
}

@media only screen and (max-width : 1200px){

    header {
        padding: 0 0;
    }

    section {
        padding: 0;
    }

    footer {
        padding: 0 0 50px 0;
    }

    .title2 {
        font-family: "Raleways-extra-bold";
        font-weight: 100;
        font-size: 60px;
    }

    .title3 {
        font-family: "Raleways-extra-bold";
        font-weight: 100;
        font-size: 45px ;   
    }

    p {
        font-weight: 600;
        font-size: 42px;
    }

    .note {
        font-size: 30px;
    }

    /*-----*/

    #firstRow {
        grid-template-columns: 50% 50%;
        grid-template-rows: 230px 120px;
        font-size: 40px;
    }

    #logo {  
        grid-column: 1 ;
        grid-row: 1;
        margin-left: 50px;
        width: 250px;
        
    }

    #link-hebergements {
        grid-column: 1;
        grid-row: 2;
        border-bottom: 8px solid #F2F2F2;
    }

    #link-activites {
        grid-column: 2;
        grid-row: 2;     
        border-bottom: 8px solid #F2F2F2;
    }

    #link-inscrire {
        margin-right: 50px;
        grid-column: 2;
        grid-row: 1;
        justify-content: flex-end;
        font-family: "Raleways-extra-bold" ;
        font-weight: 100;
        font-size: 42px;
    }

    #link-hebergements:focus {
        border-bottom:4px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }

    #link-hebergements:hover {
        border-bottom:4px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }

    #link-activites:focus {
        border-bottom:4px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }

    #link-activites:hover {
        border-bottom:4px solid #0065FC;
        border-top:none;
        color: #0065FC;
    }

    /*-----*/
   
    #section1 {
        width: 92%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    #tagline h2 {
        margin: 85px 0 35px 0;
    }

    #tagline p {
        margin: 0;
    }
    /*---*/

    #locationSearch {
        width: 90%;
        height: 130px;
        margin: 6em 0 2.5em 0;
        justify-content: center;    
    }

    #locationSearch i {
        padding: 1.4em 1.1em;
        
        font-size: 45px;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
    }

    #locationSearch #address {
        flex: 1;
        padding-left: 1em;
        font-size: 50px;
        font-family: "Raleways-extra-bold";
        font-weight: 100;
    }

    #locationSearch button {
        height: 130px;
        position: absolute;
        right: 40px;
        border: none;
        border-radius: 40px;
        width: 135px;
        font-size: 45px;
    }

    #locationSearch button .text {
        display: none;
    }

    #locationSearch button .icon {
        display: block;
    }

    /*---*/

    #filtreBox h3{
        margin: 0px 0px 20px 0px;
    }

    #filtreBox .filter {   
        margin: 1em 1.4em 1em 0em;
        height: 125px;  
        border: 5px solid #F2F2F2; 
    }

    #filtreBox .filter span {
        font-size: 42px;
        padding: 0 1em 0 1.6em;
        font-family: "Raleways-extra-bold";
        font-weight: 100;
    }

    #filtreBox .filter::before {
        height: 3em;
        width: 3em;
        font-size: 45px;
    }

    /*---*/

    #info {
        margin: 20px 0 50px 0;
        align-items: flex-start;
        height: 130px;
    }

    #info i {
        font-size: 32px;
    }

    #info p {
        align-items: flex-start;
        margin-top: 10px;
    }

    /*-----*/

    #doubleBox {
        flex-flow: column-reverse;
    }

    #box1 {
        display: flex;
        margin-right: 0;
        background-color: white;
    }
    #box1 .title2 {
        margin: 60px 0;
    }

    #heberBox {
        flex-direction: column;
    }

    .heberTile {
        width: auto;
        height: 480px;
        padding: 12px;
        margin-bottom: 40px;
        border-radius: 50px;   
    }

    .heberPicture {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        height: 290px;
    }

    .heberTile .legende {
        padding: 15px 0 0 20px;
    }

    .heberTile p {
        margin: 10px 14px;
        font-weight: 100;
        font-size: 38px;
    }

    .heberTile .note {
        margin-top: 1px;
        font-size: 32px;
        height: 2.2em;
    }

    .heberPicture {
        width: auto;
        
    }

    #seeMore {
        margin: 60px 0 30px 0;
        font-size: 50px;
        font-family: "Raleways-extra-bold";
        font-weight: 100;
    }

    /*---*/

    #box2{
        border-radius: 0;
    }

    #titleLine{
        margin: 60px 0 15px 0;
    }

    #titleLine .fas {
        font-size: 65px;
    }

    #popBox {
        padding: 60px 0 60px 0;
    }

    .popTile {
        height: 360px;
        padding: 13px;
        border-radius: 50px;
        margin-bottom: 30px; 
    }

    .popPicture {
        height:360px;
        width: 360px;
        border-top-left-radius: 38px;
        border-bottom-left-radius: 38px;
    }

    .popTile .legende {
        padding: 20px 0 0 55px;
    }

    .popTile p {
        font-weight: 100;
        font-size: 38px;
    }

    .popTile .note {
        font-size: 32px;
        height: 2em;
    }

    /*-----*/

    #box3 {
        display:grid;
        height: auto;
        width: auto;
        padding: 0 70px 0 70px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 500px);
        grid-row-gap:70px ;
    }

    #activites {
        margin-left: 70px;
        margin-bottom:70px;
    }
    .activityTile {
        border-radius: 50px;
    }

    .activityPicture {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    .one {
        grid-column: 1;
        grid-row: 1 ; 
    }

    .two {
        grid-column: 1;
        grid-row: 2;   
    }

    .three {
        grid-column: 1;
        grid-row: 3; 
    }
    .four {
        grid-column: 1;
        grid-row: 4; 
    }
    .five {
        grid-column: 1;
        grid-row: 5;
    } 
    .six {
        grid-column: 1;
        grid-row: 6;
    }

    .activityTile .title3 {
        height: 150px;
    }

    /*-----*/

    footer {
        margin-top: 140px;
        flex-direction: column;
        padding-left: 45px;   
    }

    footer .title3 {
        padding: 100px 0 50px 0;
        font-size: 50px;
    }

    footer a {
        font-size:42px;
        font-weight: 600;
        padding: 18px 0;
    }

    #about {
        width: 100%;
    }
     
    #assist {
        width: 100%;
    }

    #ourH{
        width: 100%;
    }
}
    